h2 {
    font-size: 2.125rem;
}


.bordered-line-light-grey {
    border: 1px solid #e1e1e1;
}
.overflow-hidden {
    overflow: hidden;
}
.top-24 {
    margin-top: 1.8rem;
}


.art-detail .item-history .history-list {
    padding-left: 3.9rem;
    padding-right: 3.9rem;
}
.padding-col-24 {
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
}


.art-detail .item-history {
    max-width: 1552px;
}
.margin-center {
    margin-right: 35px;
    margin-left: 35px;
}
.top-60 {
    margin-top: 4.5rem;
}


.font-weight-500 {
    font-weight: 500;
}
.font-24 {
    font-size: 1.5rem;
}
.top-12 {
    margin-top: 0.9rem;
}
.padding-bottom-4 {
    padding-bottom: 0.3rem;
}

.art-detail .item-history .flexible-box {
    flex-basis: 300px;
}
.border-bottom {
    border-bottom: 1px solid #e1e1e1;
}
.padding-bottom-8 {
    padding-bottom: 0.6rem;
}

.col {
    flex-direction: column;
}

.padding-col-12 {
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
}

.border-bottom {
    border-bottom: 1px solid #e1e1e1;
}
.padding-bottom-8 {
    padding-bottom: 0.6rem;
}